body, html {
    height: 100%;
    background-image: url("images/background.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

main{

    margin: -20px -10px -20px -10px;
    padding: 10px 0 40px 0;
    width: 101.9%;
    height: 90%;
}
header {
    background-image: url("images/heaferbackground8.jpg");
    /* background-color: rgba(55, 55, 179, 0.882); */
    margin: 5px -8px 20px -10px;
    background-size:cover;
    /* background-position: 60% 0%; */
    background-repeat: no-repeat;
    padding: 5px;
    border-bottom: solid 2px #000080;
    text-align: center;
    font-family: 'Cinzel', serif;
    position:fixed;
    width: 100%;
}
#navidiv {
    display: inline-flex;
    /* justify-content: space-around; */
    flex-direction: row;
}
#guestbook {
    margin-top: 1px;
    margin-bottom: 1px;
    background-image: linear-gradient(to left, #B38728, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
         /* -webkit-text-stroke-width: 0.2px;
        -webkit-text-stroke-color: rgb(255, 255, 255); */
}
nav > button {
    border: solid 2px transparent;
    border-image: linear-gradient(to right, #B38728, #B38728, #FBF5B7, #AA771C) 1;
    margin-left: 5px;
    padding: 5px;
    border-radius: 100px;
    font-size: 12px;
    width: 13%;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.853);
    background-image: linear-gradient(to left, #B38728, #B38728, #FBF5B7, #AA771C);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Cinzel', serif;
    font-weight: bold;
        -webkit-text-stroke-width: 0.2px;
        -webkit-text-stroke-color: rgb(255, 255, 255);
    
}
nav > button:hover {
    opacity: 80%;
    color: white;
    background-color: linear-gradient(to right, #B38728, #B38728, #FBF5B7, #AA771C);
    background-image: none;
    font-family: 'Cinzel', serif;
    
}




/* ------------------------------- */

#naam, #bericht  {
    font-size: 200%;
 
}
#berichtAchterlaten {
    position: fixed;
    margin-top: 10%;
    margin-left: 9%;
    color: transparent;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(31, 29, 29);

    background-clip: text;
    font-size: 32px;
    font-family: 'Lobster', sans-serif;
    background-image: linear-gradient(to right, #B38728, #B38728, #FBF5B7, #AA771C);
}
input[type="text"] {
    font-family: 'Lobster', sans-serif;
}
#postDiv {
    margin-top: 15%;
    /* margin-left: 3%; */
    width: 40%;
    max-height: 100%;
    font-family: 'Lobster', sans-serif;
    position: fixed;
    /* color: goldenrod; */
    text-align: center;
    /* background-image: linear-gradient(to left, #B38728,  #B38728, #FBF5B7, #AA771C); */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    border-image: linear-gradient(to right, #B38728, #B38728, #FBF5B7, #AA771C) 1;
   border-style:solid;
    border-width: 3px;
    margin-left: 3%;
}
#errorMessage {
    /* width: 50%;
    max-height: fit-content;
    color: white;
    position: fixed; */
    color: white;
    margin: 0;
    position: fixed;
    font-size: 8px;
    margin-left: 7%;
    text-align: center;
    margin-top: 3px;
    font-family: 'Courier New', Courier, monospace;
}
#formDiv {
    background-image: linear-gradient(#1973d1, #010280, #135cc5);
    border-image: linear-gradient(to right, #B38728, #B38728, #FBF5B7, #AA771C) 1;
   max-height: 100%;
    border: solid 2px transparent;
 }
#verstuurBericht {
    display: block;
}
#verstuurButton {
    color: #000080;
    background-image: linear-gradient(to left, #B38728,  #B38728, #FBF5B7, #AA771C);
    border-color: #000080;
    height: 100%;
    width: 50%;
    margin: 30px 0 10px 0;
     font-family: 'Lobster', sans-serif;
     

}
article {
    background-image: url("images/153575e1125a6b4fa3a397c71a880bf6.jpg");
    background-size: cover;
    /* border: 2px solid pink; */
    resize: both;
    margin: 5px 5px 50px 5px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    
    
    /* height: 250px; */
}
aside {
    max-width: 45%;
    height: 50%;
    margin-left: auto;
    margin-right: 3%;
    

}
#messageDiv {
  width: 70%;
  /* border: 2px solid black; */
  border-style: solid;
  border-width: 3px;
  border-image: linear-gradient(to right, #B38728, #B38728, #FBF5B7, #AA771C) 1;
  
  padding: 0 60px;
  height: 180px;
  margin-left: auto;
  margin-right: 17%;
  margin-top: 10%;
  color: gold;
}
#messageName, #message {
    overflow: scroll;
    font-family: 'Cinzel', serif;

    
}
#nameArea, #textArea {
    font-family: inherit;
    width: 50%;
    border: 0;
    border-bottom: 2px solid gold;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    /* background-image: linear-gradient(to left, #B38728,  #B38728, #FBF5B7, #AA771C); */
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
#nameArea::placeholder, #textArea::placeholder {
    color: gold;
    /* background-: linear-gradient(to left, #B38728,  #B38728, #FBF5B7, #AA771C); */
    opacity: 1;
}
#messageName {
    font-size: 28px;
}
#message {
    margin-top: -15px;
    overflow: scroll;
    max-height: 45%;
    font-size: 18px;
    font-weight: bold;
}
#messages {
    padding-top: 60px;
}
#deletebutton {
    background-image: url( 
        'images/delete.png'); 
        text-indent: -9999px;
        background-size: cover; 
        background-color: transparent;
                    width: 20px;
                    height: 20px;
                    font-size: 2rem; 
                    resize: both;
                    border: none;
                  float: inline-end;
                  display: block;
                  background-size: 90%;
                  background-repeat: no-repeat;
                  margin-top: -170px;
                  

   


    
}
/* ----------------------------------------- */

#footer {
    z-index: 1;
    /* background-color: white; */
    background-image: url("images/heaferbackground8.jpg");
   background-size: cover;
    position: fixed;
    top: auto;
    bottom: 0;
    color: #e5b45f;
    text-align: center;
    width: 100%;
    margin-left: -10px;
    padding-right: 5px;
    font-size: 6px;
}
